#ignore executable files
*.exe

#ignore windows debug files
*.pdb

#ignore the intermediate object files in the hidden .build directory
.build/*

#ignore any 'test' files I create for prototyping
test.*
